<dialog open>
  <article>
    <header>
      <a href="/login" aria-label="Close" class="close"></a>
      Auth Error
    </header>
    <p>
      Incorrect Username or Password
    </p>
  </article>
</dialog>
