<dialog open>
  <article>
    <header>
      <a href="/login" aria-label="Close" class="close"></a>
      <p style="text-align: center;">
        ❌ Unauthenticated ❌
      </p>
    </header>
    <p>
      <h3><strong>
          ❌ Incorrect Username or Password ❌
        </strong></h3>
    </p>
  </article>
</dialog>