<div class="container">
  <nav>
    <ul>
      <li><strong>Profile</strong></li>
    </ul>
    <ul>
      <li><a href="/products">Products</a></li>
      <li><a href="/api/sessions/logout"> Logout </a></li>
    </ul>
  </nav>
</div>