<div class="container">
  <h1>Products - Sockets</h1>
  <hr >
  <div class="grid">
    <div>
       <form id="form-product">
    <div class="grid">
      <label for="title">
        Title
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Title"
          required
        />
      </label>

      <label for="code">
        Code
        <input type="text" id="code" name="code" placeholder="Code" required />
      </label>

      <label for="category">
        Category
        <input
          type="text"
          id="category"
          name="category"
          placeholder="Category"
          required
        />
      </label>
    </div>
    <label for="description">
      Description
      <input
        type="text"
        id="description"
        name="description"
        placeholder="Description"
        required
      />
    </label>

    <div class="grid">
      <label for="stock">
        Stock
        <input
          type="number"
          id="stock"
          name="stock"
          placeholder="Stock"
          required
        />
      </label>
      <label for="price">
        Price
        <input
          type="number"
          id="price"
          name="price"
          placeholder="Price"
          required
        />
      </label>
    </div>
    <button type="submit">Create </button>
  </form>
    </div>
     <div id="products-list" class="container"></div>
  </div>
  
 
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>