<div class="container">
  <h1>Products - Sockets</h1>
  <hr >
  <div id="products-list" class="container"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>