<dialog open>
  <article>
    <header>
      <a href="/login" aria-label="Close" class="close"></a>
      <p style="text-align: center;">
        ⚠️ Unauthenticated ⚠️
      </p>
    </header>
    <p>
      <h3><strong>
          ℹ️ You must login with your username and password ℹ️
        </strong></h3>
    </p>
  </article>
</dialog>